













		
		
		<!-- ARTICLE -->
			

		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">Profile</h3>
			</div>
			
			
			
			<!-- /.box-header -->
			<!-- form start -->
			<form role="form">
				<div class="box-body">
					<div class="form-group">
						<h2>{{profil.name}} {{profil.surname}}</h2>
		
						<br/>
						<span ng-if="profil.profilUserDTO.categoryUserDTO != null">
						<br/>
						<label>Number of tokens: <b>{{profil.profilUserDTO.rewardPoints}}</b></label>
						
					</span>
					</div>
					
					<div class="form-group">
						<p><b>email:</b> {{profil.email}}</p>
					<p><b>Date of join:</b>{{profil.createProfile | date:'medium'}}</p>
					
					<br/>
					<p><b>State:</b> {{profil.profilUserDTO.country}}</p>
					<p><b>City:</b> {{profil.profilUserDTO.city}}</p>
					<p><b>Address:</b> {{profil.profilUserDTO.street}} {{profil.profilUserDTO.numberStreet}}</p>
					</div>
					
					
				</div>
				<!-- /.box-body -->

				<div class="box-footer">
				
				</div>
			</form>
		</div>
		<!-- /.box -->
	


		


