

<div ng-controller="AddToCart">

<section class="content">

<h2 class="title text-center">List of all articles</h2>
		
		<!-- Ovo se unmozaje -->
		
		<div data-ng-repeat="a in artikli">
			<div style="margin: 0 2% 1% 0; box-shadow:2px 2px 3px 3px #C9C9C9; float: left; width: 250px; height: 270px">
				
				<div class="product-items" style="float: left;">
					<div style="float: left;height: 200px; width: 100%; ">
						<div id="nivo-lightbox-demo"> <p> <a href="images/pro1.jpg"data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"><span class="rollover1"> </span> </a></p></div>     
							<img style="height: 200px; width: 100%; margin: -3.5% 0 0 0" src="images/pro1.jpg" alt="">
					</div>
					<div style="float: left; width: 100%; height: 70px; margin: 0; text-align: center; background-color: #337AB7; color: #ffffff;">
						<h4>{{a.nameArticle}}</h4>
						<h5>{{a.price}} $</h5>
						<a href="" ng-click="addCart(a.id)" id="1" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
					</div>
					
				</div>
				
			</div>
		</div>
		
		
	</section>
	
	</div>