<style>
.small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	
}
.col6 {
    width: 33%;
	float: left;
	font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
	font-size: 14px;
    line-height: 1.42857143;
}

div {
    display: block;
}

.col {
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
	margin: 1% 0 0 0;
}

.small-box h3{
	z-index: 5;
	font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
	font-family: 'Source Sans Pro',sans-serif;
    line-height: 1.1;
    color: inherit;
}
h3 {
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.bg-bloue {
	background-color: #00c0ef !important;
	color: #fff !important;
}

.bg-green {
	background-color: #00a65a !important;
	color: #fff !important;
}


.bg-orange {
	background-color: #f39c12 !important;
	color: #fff !important;
}

.bg-bloue {
	background-color: #00c0ef !important;
	color: #fff !important;
}



.dole {
	background-color: #00A5F4;
	height: 30px;
	padding: 2% 0 0 0;
	
}

.dole a {
	display: inline-block
}

.dole-zeleno {
	background-color: #00A051;
	height: 30px;
	padding: 2% 0 0 0;
	
}

.dole-zeleno a {
	display: inline-block
}

.dole-narandzastp {
	background-color: #00A051;
	height: 30px;
	padding: 2% 0 0 0;
	
}

.dole-narandzasto a {
	display: inline-block
}

</style>

<div class="col-sm-9 padding-right">
	<div class="features_items"><!--features_items-->
		<h2 class="title text-center">Pocetna</h2>
				
		<div class="col col6">
			<!-- small box -->
			<div class="small-box bg-bloue">
				<div class="inner">
					<h3>{{siyeArtikl.size}}</h3>
		
					<p>Registrovanih artikala</p>
				</div>
				<div class="icon">
					<i class="ion ion-stats-bars"></i>
				</div>
				<div class="dole">
					<a href="#" class="small-box-footer">Pregled svih poseta <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
		
		<!-- -
		<div class="col col6">
			<!-- small box --
			<div class="small-box bg-green">
				<div class="inner">
					<h3>{{sizeView}}%</h3>
		
					<p>Procenat posecenosti</p>
				</div>
				<div class="icon">
					<i class="ion ion-stats-bars"></i>
				</div>
				<div class="dole-zeleno">
					<a href="#" class="small-box-footer">Pregled svih poseta <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
		
		<div class="col col6">
			<!-- small box --
			<div class="small-box bg-orange">
				<div class="inner">
					<h3>{{snizenje}}</h3>
		
					<p>Artikala na popustu</p>
				</div>
				<div class="icon">
					<i class="ion ion-stats-bars"></i>
				</div>
				<div class="dole-narandzasto">
					<a href="#" class="small-box-footer">Pregled svih poseta <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
		 -->
		
		
		
	</div>
</div>