







		
		
		<!-- ARTICLE -->
			

		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">Category {{prag.nameCategory}}</h3>
			</div>
			<!-- /.box-header -->
			<!-- form start -->
			<form role="form">
				<div class="box-body">
					<div class="form-group">
						<label for="exampleInputEmail1">Min amount</label>
						<input class="form-control" type="text" ng-model="prag.spendingLimitDTO.minLimint" >
					</div>
					<div class="form-group">
						<label for="exampleInputEmail1">Max amount</label>
						<input class="form-control" type="text" ng-model="prag.spendingLimitDTO.maxLimit">
					</div>
					<div class="form-group">
						<label for="exampleInputEmail1">Discount percentage</label>
						<input class="form-control" type="text" ng-model="prag.spendingLimitDTO.discountPercent">
					</div>
					
					
					
				</div>
				<!-- /.box-body -->

				<div class="box-footer">
					<button type="submit" ng-click="save()" class="btn btn-primary">Change</button>
				</div>
			</form>
		</div>
		<!-- /.box -->
	


		


