<div >
		
	<section class="content-header">
		<h1>
			Data Tables
			<small>advanced tables</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="#">Tables</a></li>
			<li class="active">Data tables</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
	
					<div class="box-header">
						<h3 class="box-title">Hover Data Table</h3>
					</div>
					
					<div class="box-body">
						<table id="example1" class="table table-bordered table-striped">
							<thead>
								<tr>
								  <th>Naziv kategorije</th>
								  <th>Broj Artikala u kategoriji</th>
								</tr>
							</thead>
							<tbody>
								
								<tr ng-repeat="c in category">
								  <td>{{c.namePodCateogry}}</td>
								  <td>385</td>
								</tr>
							
							</tbody>
							
							<tfoot>
								<tr>
								  <th>Naziv kategorije</th>
								<th>Broj Artikala u kategoriji</th>
								</tr>
							</tfoot>
							
						</table>
					</div>
				
				</div>
			</div>
		</div>
	
	</section>
	
	
</div>